@import "header.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif:cursive;
  background: #34495e;
  background-image: url("Dodecahedron_light_blue.svg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.box{
  border-radius: 25px;
  width: 500px;
  padding: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,-50%);
  background-repeat: y-repeat;
  text-align: center;
  box-shadow: 2px 2px 10px white;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.info input{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.info input:focus{
  width: 280px;
  border-color: #2ecc71;
}
.info input:hover{
  width: 280px;
  border-color: #2ecc71;
}
.info p{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.info p:focus{
  width: 280px;
  border-color: #2ecc71;
}
.info p:hover{
  width: 280px;
  border-color: #2ecc71;
}
.box button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box button:hover{
  background: #2ecc71;
  font-size:18px;
}
.info button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.info button:hover{
  background: #2ecc71;
  font-size:18px;
}
